.admin-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button.btna {
  background-color: #05070f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.btna:hover {
  background-color: #272727;
}

.form-group .img{
    color: black;
}

.charts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .chart {
    width: 100%;
    align-items: center;
  }

  .admin-container .form-group .img_src{
    color: black;
  }