.wrapper{
    overflow-x: hidden;
    overflow-y: auto;
}

  .hero_img {
    width: 100%; 
    max-height: 800px;
    overflow: hidden;
    filter: blur(3px);
}

.hero_img img {
    width: 100%; 
    height: 730px; 
    display: block; /* Asigură că imaginea este afișată ca un bloc */
    object-fit: cover; /* Redimensionează imaginea pentru a acoperi întreaga zonă */

}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Culoarea întunecată cu opacitate */
}

    .hero_content {
        position: absolute;
        top: 50%;
        left:38%; 
        transform: translate(-50%, -50%);
        z-index: 2; /* Asigură că textul este afișat deasupra fundalului întunecat */
        color: #fff; /* culoarea textului */
        padding: 130px; /* adaugă spațiu în jurul textului */
        text-align: justify;
    }
    
    .hero_content h2 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold; 
        font-size: 40px; 
    }
    
    .hero_content p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 16px; 
    }

    .hero_para {
        padding: 30px;
        border-radius: 20px; 
        background-color: rgba(0, 0, 0, 0.5); 
    }
    
    .hero_content .hero_subtitle {
        font-size: 16px; 
        font-style: italic; 
    }

    .hero_content .hero_title{
        font-family:'Trebuchet MS';
    }
    
    .buy_btn_home {
        display: block;
    width: 260px; 
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family:'Trebuchet MS';
    text-decoration: none;
    }

    
    .buy_btn_home:hover {
        background-color: #569700; /* schimbă culoarea butonului la hover */
        font-weight: 700;
    }

    .trending_prodcuts .section_title{
        font-family: 'Trebuchet MS';
        font-weight: 600;
    }

    .best_sales .section_title{
        font-family: 'Trebuchet MS';
        font-weight: 600;
    }

h1 {
    font-family: 'Lucida Sans';
    padding: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.products-container .product-card {
    width: 300px;
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    box-shadow: 5px 5px 4px #e4e4e4;
    position: relative;
}

.products-container .product-card .product-img {
    width: 100%;
    height: 300px;
}

.products-container .product-card .product-img img {
    width: 100%;
    height: 100%;
}

.products-container .product-card .product-name {
    display: block;
    width: 100%;
    color: #141c4d;
    margin-top: 5px;
}

.products-container .product-card .product-price {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.products-container .product-card .addcart-btn {
    background-color: #080b1e;
    color: #fff;
    border: hidden;
    cursor: pointer;
    width: 100%;
    padding: 10px 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    outline: none;
}


/* about */
.about_section {
    padding: 50px 0;
    background-color: #f1f1f1;
  }
  
  .about_img {
    width: 430px;
    height: auto;
    margin-left: 90px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Umbra */
  filter: brightness(0.7); /* Întunecare */
  transition: all 0.3s ease; /* Tranziție pentru efecte de hover */
  }
  
  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .about_content h4 {
    color: #569700;
    margin-bottom: 20px;
  }
  
  .about_content h2 {
    font-size: 36px;
    margin-bottom: 27px;
  }
  
  .about_content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.8;
  }

  .about_content .about-title{
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS';
  }

  .about_content .about-para{
    color: rgb(114, 114, 114);
    font-family: 'Trebuchet MS';
  }
  
  .read_more_btn {
    display: inline-block;
    padding: 10px 0px;
    color: #569700;
    border-radius: 5px;
  }

  .why_choose_us {
    padding: 50px 0;
    background-color: #f1f1f1;
  }
  
  .why_choose_us .section_title {
    margin-bottom: 30px;
    font-family: 'Trebuchet MS';
    font-weight: 600;
  }
  
  .why_choose_us .section_subtitle {
    font-family: 'Trebuchet MS';
    margin-bottom: 50px;
    color: #6c757d;
  }
  
  .why_choose_us_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  
  .why_choose_us_item {
    font-family: 'Trebuchet MS';
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .why_choose_us_item h4 {
    font-size: 2rem;
    color: #569700;
    margin-bottom: 10px;
  }
  
  .why_choose_us_item h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .why_choose_us_item p {
    color: #6c757d;
  }
  
  /*---*/


  /* recenzii */
  .customer_reviews {
    padding: 50px 0;
  }
  
  .review_card {
    border: 1px solid #e4e4e4;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
  }
  
  .review_card p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
  }

  .review_card .star-review span i{
    color: coral;
  }

  .average{
    text-align: center;
  }

  .average .star-review span i {
    text-align: center;
    color: coral;
  }

  .star-review i{
    margin-right: 2px;
  }

  .star-review{
    margin: 0 5px;
  }

  .average .star-review i {
    color: coral;
  }
  
  .review_author {
    display: flex;
    align-items: center;
  }
  
  .review_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .review_author h5 {
    margin: 0;
    font-size: 1rem;
    color: #333;
  }
  
  .review_rating {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .review_rating .icon {
    color: #FFD700;
    margin-right: 2px;
  }
  
  .section_title {
    margin-bottom: 50px;
  }
  
  .section_subtitle {
    margin-bottom: 50px;
  }

  /*------*/




/* limit offer*/

.timer_count{
    background-color: #05070f;
    height: 320px;
    font-family: 'Trebuchet MS';
}

.timer_count img{
    width: 70%;
    height: 75%;
    object-fit: contain;
}

.visit_st{
   background-color: white;
   color: #000000;
   font-weight: bold;
   cursor: pointer;
   border: none;
   padding: 10px;
   border-radius: 5px;
   outline: none;
   transition: background-color 0.3s ease; /* adaugă o tranziție lină pentru culoarea butonului */
}

.visit_st a {
    text-decoration: none;
    color: #0a0d22; /* Adăugăm aceasta pentru a ne asigura că textul este vizibil */
}

.visit_st a:hover{
    color: #569700;
}

.contact_section {
  background-color: rgb(239, 239, 239);
  padding: 18px;
}

.contact_section .contact_btn{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.contact_section .contact_btn:hover{
  color: #6f6f6f;
}



